* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col- {
    border: solid 1px;
}

.bg-blue {
    background-color: rgb(44, 62, 80);
}

.bg-green {
    background-color: rgb(26, 187, 155);
}

.bg-white {
    background-color: white;
}

.bg-lightblue {
    background-color: rgb(58, 84, 109);
}

.box {
    /* min-height: 100px; */
    margin: 15px;
    background-color: tomato;
    border-radius: 5px;
}

.box img {
    width: 100%;
    border-radius: 5px;
}

.padding_tb {
    padding: 60px 0;
}

.navbar-my-theme {
    margin-bottom: 0;
}

.navbar-my-theme a {
    color: white;
}
/* .text-white {
    color: white;
} */

.avatar {
    width: 200px;
}

@media screen and (max-width: 767px) {
    .hamburger {
        border-radius: 5px;
        padding: 10px;
        border: 1px solid lightgray;
        float: right;
        color: lightgray;
    }

    /* .navbar-brand {
        float: left;
    } */
}

.white {
    color: white;
}

.bolder {
    font-weight: bolder;
}

.padding_tb15 {
    padding: 15px 0;
}